body {
    background-color: #fff;

}
/* Header search */
.input-group.rounded-pill .form-control {
    border: none;
    box-shadow: none;
}
.input-group.rounded-pill .form-control:focus {
    outline: none;
    box-shadow: none;
    background: transparent;
}
/* Navbar */
.navbar {
    background: #ffffff;
}
.navbar-nav .nav-link {
    font-weight: 700;
    color: #6c6c6c !important;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #1f7a3b !important;
}
/* Mega menu full width + hover */
.navbar .dropdown-menu.mega-menu {
    width: 100%;
    left: 0;
    right: 0;
    margin-top: 0.5rem;
}
@media (min-width: 992px) {
    .navbar .dropdown:hover > .dropdown-menu {
        display: block;
    }
}
.navbar .dropdown-menu .dropdown-item {
    padding-left: 0;
}
/* Logo size */
.navbar-brand img {
    width: 50px;
    height: auto;
}
.container-fluid {
   margin-left: 120px;
    margin-right: 120px;
}
.flex-grow-1{
    width: 200px;
}
